{% extends "sudoku.html" %}
{% block content %}
	<div class="pageTitle">Get ready to make something awesome in the Sudoku Oven!</div>
	<div id="left" class="col2">
		<div id="ingredients">
			<p>First choose how much to make</p>
			<button class="size" id="4">2x2</button>
			<button class="size" id="9">3x3</button>
			<button class="size" id="16">4x4</button>
			<p>And your ingredients</p>
			<span class="help">Traditionally numbers 1-9</span>
			<br>
		</div>
	</div>
	<div id="right" class="col2">
		<p>Then select a recipe</p>
		<button class="level" id="1">easy</button>
		<button class="level" id="2">medium</button>
		<button class="level" id="3">hard</button>
		<br>
		<button class="gobutton" id="oven">It's ready for the oven</button>
	</div>
{% endblock %}